# copy to /etc/systemd/system path
[Unit]
Description=Mount USB Drive on %i
[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/casaOS/util/shell/usb-mount.sh add %i
ExecStop=/casaOS/util/shell/usb-mount.sh remove %i
