[app]
PAGE_SIZE = 10
RuntimeRootPath = runtime/
LogSavePath = /casaOS/logs/server/
LogSaveName = log
LogFileExt = log
DateStrFormat = 20060102
DateTimeFormat = 2006-01-02 15:04:05
TimeFormat = 15:04:05
DateFormat = 2006-01-02
ProjectPath = /casaOS/server
RootPath = /casaOS


[server]
HttpPort = 8089
UDPPort = 
RunMode = release
ServerApi = https://api.casaos.io
Handshake = socket.casaos.io
Token = 
USBAutoMount = true

[user]
UserName = admin
PWD = zimaboard
Email = user@gmail.com
Description = description
Initialized = false
Avatar = 
NickName = 
PublicKey =

[redis]
Host = 127.0.0.1:6379
Password =
MaxIdle = 30
MaxActive = 30
IdleTimeout = 200

[system]
ConfigStr = 
WidgetList =
Analyse =

[file]
ShareDir =
DownloadDir =