[app]
PAGE_SIZE = 10
RuntimeRootPath = runtime/
LogSavePath = /casaOS/logs/server/
LogSaveName = log
LogFileExt = log
DateStrFormat = 20060102
DateTimeFormat = 2006-01-02 15:04:05
TimeFormat = 15:04:05
DateFormat = 2006-01-02
ProjectPath = /casaOS/server
RootPath = /casaOS


[server]
HttpPort = 8089
UDPPort = 
RunMode = release
ServerApi = https://api.casaos.io
Handshake = socket.casaos.io
Token = 
USBAutoMount =

[user]
UserName = 
PWD = 
Email = user@gmail.com
Description = description
Initialized = false
Avatar = 
NickName = 
PublicKey =

[system]
ConfigStr = 
WidgetList =
Analyse =


[file]
ShareDir =
DownloadDir =